body div{font-family: arial, sans-serif;
		 color: purple; 
		 font-size: 22pt}

body{font-family: arial, sans-serif; 
	 color: purple; 
	 font-size: 14pt}

li{font-size: .7em;}

	div#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
	overflow: hidden;
}
div#menu li {
	float: left;
}
div#menu li a {
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
div#menu li a:hover {
	background-color: #111;
}


#name {color: lightblue}
.number {font-size: 1.5em;}
div#criminal {border: 12px solid black;
			   width: 30%;
			   text-align: center;}


a:link{color: red; text-decoration: none}
a:hover{color: green}
a:visited{color: yellow}
a:active{color:white;}

<!-- comment-->

#Prolist {text-align: center; margin: 0; border: 0;}
#javat, #nettt {border: 0; width: 49%; margin:0;display:inline-block;text-align: center;}
#javal, #netl {border: 1px solid black; width: 49%; margin:0;display:inline-block;}

#nett {text-align: center; margin: 0; border: 0;}
#probt, #conbt {border: 0; width: 49%; margin:0;display:inline-block;text-align: center;}
#prob, #conb {border: 1px solid black; width: 49%; margin:0;display:inline-block;}